$white: #fff;
$black: #000;
$blue: #2937ff;
$orange: #cb672f;

$black-coral: rgb(84, 88, 99);
$gainsboro: rgb(220, 220, 221);
$outrageous-orange: rgb(249, 110, 70);
$silver: rgb(197, 195, 198);
$russian-green: rgb(98, 148, 96);

$foreground: var(--foreground);
$background: var(--background);
$link: var(--link);
$signature: var(--signature);
$green: var(--green);
$alt: var(--alt);
