@import './includes.scss';
@import './fonts.scss';

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--max-width: #{$max-width};
	--gutter: #{$gutter};

	--foreground: #{$black};
	--background: #{$white};
	--link: #{$blue};
	--signature: #{$orange};

	--alt: #{$gainsboro};
	--green: #{$russian-green};

	@each $name, $size in $breakpoints {
		@include breakpoint($size) {
			--max-width: #{$size};
		}
	}
}

:root,
html,
body {
	font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
		sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

section {
	margin: 2rem 0;
}
