@import './colors.scss';

@mixin link-hover {
	display: inline;
	text-decoration: none;
	background-image: linear-gradient($foreground, $foreground),
		linear-gradient($background, $background);
	background-repeat: no-repeat;

	background-position-y: 90%, 0;
	background-position-x: 100%, 0;
	background-size: 0% 2px, 100% 100%;
	transition: background-size 0.2s;

	transition-timing-function: ease;

	&:hover,
	&:focus {
		background-position-x: 0%, 0;
		background-size: 100% 2px, 100% 100%;
	}
}

@mixin breakpoint-sm {
	@media screen and (min-width: $breakpoint-sm) {
		@content;
	}
}

@mixin breakpoint-md {
	@media screen and (min-width: $breakpoint-md) {
		@content;
	}
}

@mixin breakpoint-lg {
	@media screen and (min-width: $breakpoint-lg) {
		@content;
	}
}

@mixin breakpoint-xl {
	@media screen and (min-width: $breakpoint-xl) {
		@content;
	}
}

@mixin breakpoint($size) {
	@media screen and (min-width: $size) {
		@content;
	}
}

@mixin apply-signature {
	background-color: $signature;
	color: white;
}

@mixin keep-within-width {
	margin-right: auto;
	margin-left: auto;

	@include breakpoint-sm {
		max-width: $breakpoint-sm;
	}

	@include breakpoint-md {
		max-width: $breakpoint-md;
	}

	@include breakpoint-lg {
		max-width: $breakpoint-lg;
	}

	@include breakpoint-xl {
		max-width: $breakpoint-xl;
	}
}
