$breakpoint-sm: 540px;
$breakpoint-md: 720px;
$breakpoint-lg: 960px;
$breakpoint-xl: 1280px;

$breakpoints: (
	'sm': $breakpoint-sm,
	'md': $breakpoint-md,
	'lg': $breakpoint-lg,
	'xl': $breakpoint-xl,
);

$max-width: $breakpoint-sm;

$gutter: 1rem;
$double-gutter: calc(2 * #{$gutter});
$half-gutter: calc(0.5 * #{$gutter});
