@import 'styles/includes.scss';

.outer {
	text-decoration: none;

	&:hover .title {
		@include link-hover();
	}
}

.container {
	width: 100%;

	display: grid;
	gap: 1rem;
	grid-template-areas: 'thumbnail rest';
	grid-template-rows: 1fr;
	grid-template-columns: auto 1fr;
}

.thumbnail {
	grid-area: thumbnail;
}

.rest {
	grid-area: rest;

	color: black;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
