@import 'styles/variables';

.container {
	border-radius: 0.5rem;

	box-shadow: 0px 0.5rem 1rem 0px rgba(0, 0, 0, 0.2);
	object-fit: cover;
}

.headshot {
	width: $page-width;
	height: calc(#{$page-width} * 9 / 16);
}

.thumbnail {
	width: 16rem;
	height: 9rem;

	transition: box-shadow 0.2s;

	&:hover {
		box-shadow: 0px 1rem 2rem 0px rgba(0, 0, 0, 0.2);
	}
}
