@import 'includes';

.container {
	grid-column: span 12;

	@for $i from 1 through 12 {
		&.size-#{$i} {
			grid-column: span $i;

			@for $start from 1 through 12 {
				&.start-#{$start} {
					grid-column: ($start + 1) / span $i;
				}
			}
		}
	}

	@each $name, $size in $breakpoints {
		@for $i from 1 through 12 {
			@include breakpoint($size) {
				&.#{$name}-#{$i} {
					grid-column: span $i;

					@for $start from 1 through 12 {
						&.start-#{$name}-#{$start} {
							grid-column: ($start + 1) / span $i;
						}
					}
				}
			}
		}
	}
}
