@import 'styles/includes';

.container {
	position: relative;

	margin-left: auto;
	margin-right: auto;

	width: 100%;

	--padding: 1em;
	padding: 0 var(--padding);

	@function max-width($width) {
		@return calc(#{$width} - (var(--padding) * 2));
	}

	&.small {
		max-width: max-width(56ch);
	}
	&.medium {
		max-width: max-width(70ch);
	}
	&.large {
		max-width: max-width($page-width);
	}
	&.larger {
		--padding: 0px;
		max-width: max-width(1280px);
	}
}
