@import 'includes';

.container {
	--height: 6rem;

	position: sticky;
	top: 0;

	z-index: 100;
	width: 100%;
	height: var(--height);

	display: grid;
	grid-template-areas: 'logo hamburger' 'breadcrumbs breadcrumbs';
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, auto);
	grid-template-rows: var(--height);

	background-color: rgba(255, 255, 255);

	.logo-container {
		grid-area: logo;
		height: var(--height);

		.logo {
			justify-self: start;
			align-self: center;
			height: var(--height);
		}
	}

	.menu {
		grid-area: menu;
		display: none;
		width: 100%;

		padding-top: 12rem;

		list-style: none;

		.item {
			.title {
				height: 3rem;
				display: block;
				height: 100%;
				line-height: 3rem;

				.icon {
					width: 3rem;
					height: 3rem;

					text-align: center;
				}
			}

			.sub-menu {
				display: none;
				list-style: none;

				.item {
					display: block;

					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}

			&:focus-within,
			&:hover {
				.sub-menu {
					display: block;
				}
			}
		}

		> .item {
			> .title {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}

			&:focus-within .title .icon,
			&:hover .title .icon {
				transform: rotate(90deg);
			}
		}
	}

	.hamburger {
		grid-area: hamburger;
		justify-self: end;
		align-self: center;
	}

	&.open {
		grid-template-areas: 'logo hamburger' 'menu menu';
		grid-template-rows: var(--height) 1fr;

		min-height: 100vh;

		.menu {
			display: block;
		}

		.breadcrumbs {
			display: none;
		}
	}

	@include breakpoint-lg {
		--height: 3rem;
		display: block;

		width: unset;

		.logo,
		.hamburger {
			display: none;
		}

		.menu {
			display: block;
			height: var(--height);
			line-height: var(--height);
			padding-top: 0;
			position: relative;
			margin: 0 auto;

			max-width: 1280px;

			.item {
				display: inline-block;
				height: 3rem;

				.title {
					display: block;
					padding: 0 1rem;
					cursor: pointer;

					.icon {
						display: none;
					}
				}

				.sub-menu {
					position: absolute;
					top: 100%;
					box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.5);

					.item {
						display: block;
						background-color: var(--background);
						padding-left: unset;

						.title {
							display: inline-block;
							width: 100%;
							&:focus-within,
							&:hover {
								background: $alt;
							}
						}
					}
				}
			}

			> .item {
				&:focus-within,
				&:hover {
					> .title {
						@include apply-signature;
					}
				}
			}
		}
	}
}
